﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <title>@ViewBag.Title - LoggerWebInterface</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/site-css")
    @Styles.Render("~/Content/jquery-ui-css")
    @Styles.Render("~/Content/datetimepicker-css")
    @Styles.Render("~/Content/multiselect-dropdown-css")
    @Styles.Render("~/Content/labeled-checkbox-radio-css")
    @Styles.Render("~/Content/pie-countdown-css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Web-интерфейс логера", "Index", "Logs", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    @*<li>@Html.ActionLink("Logs", "Index", "Logs")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LogWebInterface</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/json")
    @Scripts.Render("~/bundles/init")
    @Scripts.Render("~/bundles/multiselect-dropdown")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/labeled-checkbox-radio")
    @Scripts.Render("~/bundles/pie-countdown")
    @Scripts.Render("~/bundles/otf")
    @RenderSection("scripts", required: false)
</body>
</html>
