
.examples {
    overflow: hidden;
    padding:10px 0;
}

.examples .spinner-wrapper,
.examples .button-wrapper {
    float:left;
    margin:0 20px;
    display:none;
}

.examples .spinner div {
    margin:0 auto;
}

.examples .button-wrapper {
    display: block;
    width: auto;
    margin-left:0;
}

#spinner3 {
    margin-bottom: 12px;
}