﻿@model LoggerWebInterface.Controllers.FilterClass


<form class="form-horizontal" role="form" method="get" action="@Url.Action("Index", "Logs")"
      data-otf-ajax='true' data-otf-target="#logTable" id="filterForm">
    @Html.HiddenFor(model => model.MaxObjectId, new { @id = "maxObjectId" })
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true)
    <div class="col-md-9">
        <div class="form-group">
            <div class="col-md-3">
                <p class="text-muted">От</p>
                @Html.TextBoxFor(model => model.FromTime, new { @id = "fromTime", @class = "form-control  date-time-value", @placeholder = "01.01.2014 00:00:00" })
                @Html.ValidationMessageFor(model => model.FromTime)
            </div>
            <div class="col-md-3">
                <p class="text-muted">До</p>
                @Html.TextBoxFor(model => model.ToTime, new { @id = "toTime", @class = "form-control  date-time-value", @placeholder = "12.12.2014 23:59:59" })
                @Html.ValidationMessageFor(model => model.ToTime)
            </div>
            <div class="col-md-2">
                <p class="text-muted">Хосты</p>
                @Html.DropDownList("HostMultiselect.SelectedItems",
                new MultiSelectList(Model.HostMultiselect.AllItems, Model.HostMultiselect.SelectedItems),
                new { @id = "hostMultiselect", @class = "multiselect ", @multiple = "multiple" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <p class="text-muted">Уровни логирования</p>
                @Html.DropDownList("LevelMultiselect.SelectedItems",
                new MultiSelectList(Model.LevelMultiselect.AllItems, Model.LevelMultiselect.SelectedItems),
                new { @id = "levelMultiselect", @class = "multiselect ", @multiple = "multiple" })
            </div>

            <div class="col-md-3">
                <p class="text-muted">Процессы</p>
                @Html.DropDownList("ProcessMultiselect.SelectedItems",
                new MultiSelectList(Model.ProcessMultiselect.AllItems, Model.ProcessMultiselect.SelectedItems),
                new { @id = "processMultiselect", @class = "multiselect ", @multiple = "multiple" })
            </div>
            
            <div class="col-md-3 form-inline">
                <p class="text-muted">Поиск по сообщению
                    <span class="tooltip-info glyphicon glyphicon-question-sign"
                          title="Введите регулярное выражение"></span></p>
                @Html.TextBoxFor(model => model.MessageRegex, new { @id="messageRegex", @class = "form-control"})
                
                <span id="regexError" style="color:red"></span>
            </div>
            
        </div>

    </div>
    
    <div class="col-md-3">
        <div class="panel panel-default" style="width:210px; border-color: white">
            <div class="panel-heading" style="height:80px; background: white">
                
                    <p>
                        <input type="checkbox" id="doUpdateOnInterval" checked="checked" placeholder="секунды" />
                        Автоматически
                    </p>
                
                
                <div class="form-inline">
                    <span style="float: left; position: relative; top: 6px; margin-right: 11px;">
                        каждые
                    </span>
                    <input type="number" class="form-control" style="margin: 1px; padding:3px; float: left; height: 25px; width: 80px" id="updateIntervalTime" value="5">

                    
                    <span style="float: left; position: relative; top: 7px; margin-left: 11px;">
                        сек
                    </span>
                    
                </div>
            </div>
            
            <div class="panel-body form-inline input-group">
                <button type="button" class="btn btn-default" style="width:177px" id="searchSubmitBtn">

                    <div class="pull-left" style="display:inline-block; margin-left:45px;">Обновить</div>
                    <div style="display: inline-block; float: right; position: relative; margin-right: 10px;">
                        <span class="spinner-wrapper" >
                            <span id="spinner-timer"></span>
                            <img class="hidden" id="spinner-load" src="~/Content/Images/circle-loading.gif" width="16" />
                        </span>
                    </div>
                </button>

            </div>
        </div>
    </div>
    <hr />
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}